<div class="modal fade" id="@ModalId" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="@ModalId-Label">Are you sure you want to delete this entry?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" @onclick="InvokeEventCallbackAsync">DELETE</button>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string ModalId { get; set; }

    [Parameter]
    public EventCallback OnConfirmation { get; set; }

    
    private async Task InvokeEventCallbackAsync() {
        await OnConfirmation.InvokeAsync();
    }
    
}
